doctype html
script.
  doSomeStuff();

<!-- The drawer is always open in large screens. The header is always shown, even in small screens. -->
div(class="mdl-layout mdl-js-layout mdl-color--grey-100 mdl-layout--fixed-drawer mdl-layout--fixed-header")
  header(class="mdl-layout__header")
    div(class="mdl-layout__header-row")
      div(class="mdl-layout-spacer")
      div(class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right")
        label(class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp")
          i(class="material-icons") {{search}}
       
        div(class="mdl-textfield__expandable-holder")
          input(class="mdl-textfield__input" type="text" name="sample" id="fixed-header-drawer-exp")
                
  mdl-nav-menu(class="mdl-layout__drawer")
    mdl-nav-menu-item(text="Angular" href="https://angular.io")
    mdl-nav-menu-item(text="Express" href="https://expressjs.com")
    mdl-nav-menu-item(text="Material Design Lite" href="http://www.getmdl.io/")
      
  div(class="demo-ribbon")
  main(class="demo-main mdl-layout__content")
    div(class="demo-container mdl-grid")
      div(class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone")
      div(class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col")       
        div(class="demo-crumbs mdl-color-text--grey-500")
          | Codependent &gt; Welcome to DopAngular
        h3
          | Welcome to #{title}
        p 
          | This is a PoT application integrating the following technologies:  

        div
          input(cosa #sometext (keyup)="doneTyping($event)")
          button((click)="addTechnology(sometext.value)") Add

        ul  
          li(*ng-for="#technology of technologies")
            {{technology}}