doctype html
html
  head
    title= title
    
    <!-- Polymer -->
    script(src="bower_components/webcomponentsjs/webcomponents-lite.js")
    link(rel="import" href="bower_components/polymer/polymer.html")
    <!-- Jade nav-menu version: include polymer/mdl-nav-menu -->
       
    <!-- Plain HTHML nav-menu version:  -->
    link(rel="import" href="polymer/mdl-nav-menu.html")
    
    <!-- Material Design Lite -->
    link(rel="stylesheet", href="/bower_components/material-design-lite/material.min.css")
    script(src="/bower_components/material-design-lite/material.min.js")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    
    <!-- Angular 2 -->
    <!-- 1. Load libraries -->
    <!-- IE required polyfills, in this exact order -->
    script(src="node_modules/es6-shim/es6-shim.min.js")
    script(src="node_modules/systemjs/dist/system-polyfills.js")
    script(src="node_modules/angular2/es6/dev/src/testing/shims_for_IE.js")

    script(src="node_modules/angular2/bundles/angular2-polyfills.js")
    script(src="node_modules/systemjs/dist/system.src.js")
    script(src="node_modules/rxjs/bundles/Rx.js")
    script(src="node_modules/angular2/bundles/angular2.dev.js")

    <!-- 2. Configure SystemJS -->
    script.
      System.config({
        packages: {        
          app: {
            format: 'register',
            defaultExtension: 'js'
          }
        }
      });
      System.import('app/main')
            .then(null, console.error.bind(console));
    
    <!-- App -->
    link(rel='stylesheet', href='/css/style.min.css')
    script(src='/js/someScript.min.js')
    
  body
    block content