extends layout

block content
  script.
     doSomeStuff();

  div(class="demo-container mdl-grid")
     div(class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone")
     div(class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col")
        div(class="demo-crumbs mdl-color-text--grey-500")
           | Codependent &gt; Welcome to DopAngular

        h3
           | Welcome to #{title}
        p 
           | This is a PoT application integrating the following technologies:  
        ul          
          li Angular 2 Developer Preview
          li Express
          li Jade
          li Gulp
          li Material Design Lite      
          li Polymer               
          li Sass
          li Karma
          li Mocha
          li Should
          li npm
          li Bower
       