dom-module(id="nav-menu")

  template
    span(class="mdl-layout-title") Menu
    nav(class="mdl-navigation")
      a(class="mdl-navigation__link" href="") Link 1
      a(class="mdl-navigation__link" href="") Link 2
      a(class="mdl-navigation__link" href="") Link 3
      a(class="mdl-navigation__link" href="") Link 4
  
  script.
    Polymer({
      is: "nav-menu"
    });